body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    /* Dark background for the whole page */
    color: #ffffff;
    /* Light text color */
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    /* Reduced width of the sidebar */
    background-color: #1e1e1e;
    /* Darker shade for the sidebar */
    height: 100vh;
    /* Full height */
    padding: 20px;
}

.content {
    flex-grow: 1;
    padding: 20px;
    height: 100vh;
    /* Full height */
    overflow-y: auto;
    /* Enable vertical scrolling if needed */
}

a,
a:visited {
    color: #bb86fc;
    /* Light purple color for links */
    text-decoration: none;
    /* Optional: Removes underline from links */
}

a:hover {
    color: #ffffff;
    /* White color on hover */
}

a img {
    margin-right: 10px;
    /* Space between icon and text */
    height: 15px;
    /* Control the size of the icon */
}

.torrent {
    border: 1px solid #555;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.torrent h4 {
    margin: 5px 0;
}

.button {
    background-color: #bb86fc;
    /* Light purple background for buttons */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.download-section,
.source-section {
    margin-top: 10px;
}

.download-section p,
.source-section p {
    margin: 5px 0;
}
